@media (max-width: 600px) {
  header .actions {
    display: none;
  }

  .container {
    padding: 0 15px;
  }

  header {
    flex-wrap: nowrap;
    padding: 16px 0px 20px;
  }

  .header-logo img {
    height: 54px;
  }

  .search-block {
    display: none;
  }

  .search-block__input {
    display: none;
  }
  .search-block svg {
    display: none;
  }

  .search-mobile {
    display: flex;
  }
  .burger {
    display: flex;
  }

  .offer {
    padding: 28px 0px 0px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }

  .offer__info {
    max-width: 237px;
  }

  .offer__title_wrap {
    width: min-content;
  }

  .offer__title_wrap:before {
    bottom: 8px;
  }

  .offer__title {
    font-size: 28px;
    margin: 0 0 20px;
    line-height: 41px;
  }

  .offer__description {
    font-size: 18px;
  }
  .offer__info:before {
    width: 100px;
    height: 100px;
    filter: blur(25px);
  }

  .offer__info:after {
    width: 100px;
    height: 100px;
    filter: blur(25px);
  }

  .offer .offer__list {
    margin: 23px 0px 50px;
  }

  .offer .offer__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .offer .offer__item {
    min-width: 155px;
  }

  .social {
    margin: 0 0 70px;
  }

  .social__title {
    font-size: 24px;
    margin: 0 0 20px;
  }

  .social__item {
    width: 30px;
    height: 30px;
  }

  .social__item svg {
    width: 30px;
    height: 30px;
  }

  .copy {
    font-size: 14px;
  }

  .button-brown {
    min-height: 40px;
    min-width: 135px;
    font-size: 16px;
  }

  .button-green-border-light {
    min-height: 40px;
    min-width: 135px;
    font-size: 16px;
  }

  .detail__block {
    grid-template-columns: 1fr;
  }

  .detail__title {
    font-size: 24px;
    margin: 0 0 15px;
  }

  .detail__description {
    margin: 15px 0px 20px;
  }

  .detail__tabs {
    margin:  0 0 20px;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
  }

  .footer__logo img {
    height: 54px;
  }

  footer ul {
    width: 50%;
    order: 1;
  }
}
