@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }

  header {
    flex-wrap: wrap;
  }

  .search-block {
    order: 1;
    max-width: 100%;
  }

  .actions {
    width: auto;
  }

  .detail {
    margin: 30px 0 50px;
  }

  footer {
    & ul {
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media (max-width: 800px) {
  .tabs {
    display: none;
  }
}

@media (max-width: 700px) {
  .detail__tabs__item {
    padding: 0px 15px;
    font-size: 16px;
  }

  .detail__tabs__item_green {
    padding: 0px 15px;
    font-size: 16px;
  }
}
